<a href="https://colab.research.google.com/github/jiin124/4th_kaggle_study/blob/main/4%EC%A3%BC%EC%B0%A8/14%E1%84%8C%E1%85%AE%E1%84%8E%E1%85%A1_%E1%84%8B%E1%85%A1%E1%86%BC%E1%84%89%E1%85%A1%E1%86%BC%E1%84%87%E1%85%B3%E1%86%AF_%E1%84%87%E1%85%A2%E1%84%80%E1%85%B5%E1%86%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#데이터 로더
import pandas as pd

df = pd.read_csv('UniversalBank.csv')
df.head()

   ID  Age  Experience  ...  CDAccount  Online  CreditCard
0   1   25           1  ...          0       0           0
1   2   45          19  ...          0       0           0
2   3   39          15  ...          0       0           0
3   4   35           9  ...          0       0           0
4   5   35           8  ...          0       0           1

[5 rows x 14 columns]

In [2]:
X = df.drop (['ID','ZIPCode','PersonalLoan'], axis=1)
y = df['PersonalLoan']

In [3]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1, stratify=y)

In [4]:
#학습에 사용할 모델 개별 정의

from sklearn.tree import DecisionTreeClassifier

tree=DecisionTreeClassifier(max_depth=None,
                            criterion='entropy',
                            random_state=1)

In [7]:
#학습에 사용할 모델 앙상블 정의

from sklearn.ensemble import BaggingClassifier

bagging=BaggingClassifier(base_estimator=tree,
                          n_estimators=500,
                          max_samples=1.0,
                          max_features=1.0,
                          bootstrap=True,
                          bootstrap_features=False,
                          n_jobs=1,
                          random_state=1
                          )

## 배깅(Bagging)

Bootstrap Aggregation 의 약자. 배깅은 샘플을 여러번 뽑아 각 모델을 학습시켜 결과물을 집계하는 방법. 전체모델에서 예측한 값 중 가장 많은 값을 최종 예측값으로 선정한다. 랜덤포레스트가 배깅의 대표적인 예

In [10]:
#k fold 교차검증
from sklearn.model_selection import cross_val_score # 교차타당도 # 추가

clf_labels = ['Decision tree', 'Bagging']
all_clf = [tree, bagging]

for clf, label in zip(all_clf, clf_labels):
    scores = cross_val_score(estimator=clf,X=X_train,y=y_train,cv=10,scoring='roc_auc')
    print("ROC AUC: %0.3f (+/- %0.3f) [%s]", (scores.mean(), scores.std(), label))

ROC AUC: %0.3f (+/- %0.3f) [%s] (0.9499227861055811, 0.032735680131811405, 'Decision tree')
ROC AUC: %0.3f (+/- %0.3f) [%s] (0.9976621623463613, 0.0017720936537745588, 'Bagging')