<a href="https://colab.research.google.com/github/jiin124/4th_kaggle_study/blob/main/6%EC%A3%BC%EC%B0%A8/%EB%B0%B0%EC%B6%94%EA%B0%80%EA%B2%A9_%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
plt.style.use('ggplot')
import warnings
warnings.filterwarnings('ignore')

In [2]:
os.environ['KAGGLE_USERNAME']='jiinpp'
os.environ['KAGGLE_KEY']="b06d525a9f66198051ccb648b091778a"

In [3]:
!kaggle competitions download -c 2021-ai-w3-p1

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading train.csv to /content
  0% 0.00/79.6k [00:00<?, ?B/s]
100% 79.6k/79.6k [00:00<00:00, 5.00MB/s]
Downloading test.csv to /content
  0% 0.00/681 [00:00<?, ?B/s]
100% 681/681 [00:00<00:00, 1.50MB/s]
Downloading submit_sample.csv to /content
  0% 0.00/219 [00:00<?, ?B/s]
100% 219/219 [00:00<00:00, 311kB/s]

In [5]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
sample=pd.read_csv('submit_sample.csv')

In [6]:
train.head()

       year  avgTemp  minTemp  maxTemp  rainFall  avgPrice
0  20100101     -4.9    -11.0      0.9       0.0      2123
1  20100102     -3.1     -5.5      5.5       0.8      2123
2  20100103     -2.9     -6.9      1.4       0.0      2123
3  20100104     -1.8     -5.1      2.2       5.9      2020
4  20100105     -5.2     -8.7     -1.8       0.7      2060

In [7]:
test.head()

       year  avgTemp  minTemp  maxTemp  rainFall
0  20170107      4.0     -1.4      9.5       0.1
1  20170120     -1.7     -5.4      1.4       3.3
2  20170223      1.4     -2.0      5.0       0.0
3  20170227      3.6     -2.5     11.1       0.1
4  20170309      5.0     -1.6     11.3       0.0

In [8]:
sample.head()

   Id  Expected
0   0      1000
1   1      1000
2   2      1000
3   3      1000
4   4      1000

In [14]:
x_train=train.drop(['avgPrice','year'],axis=1)
y_train=train['avgPrice']
x_test=test.drop('year',axis=1)

In [4]:
import torch
import torch.optim as optim

torch.manual_seed(1)

In [15]:
x_train=torch.Tensor(np.array(x_train))
y_train=torch.Tensor(np.array(y_train))
x_test=torch.Tensor(np.array(x_test))

In [16]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)

torch.Size([2557, 4])
torch.Size([2557])
torch.Size([24, 4])

In [17]:
W=torch.zeros((4,1),requires_grad=True)
b=torch.zeros(1,requires_grad=True)

optimizer=optim.SGD([W,b],lr=0.001)
nb_epochs=1000

for epoch in range(nb_epochs+1):
  hypothesis=x_train.matmul(W)+b

  cost=torch.mean((hypothesis-y_train)**2)

  optimizer.zero_grad()
  cost.backward()
  optimizer.step()

  if epoch % 100 == 0:
      print('Epoch {:4d}/{} Cost: {:.6f}'.format(
          epoch, nb_epochs, cost.item()
      ))

Epoch    0/1000 Cost: 12013343.000000
Epoch  100/1000 Cost: 2373769.000000
Epoch  200/1000 Cost: 2359780.250000
Epoch  300/1000 Cost: 2346367.500000
Epoch  400/1000 Cost: 2333321.250000
Epoch  500/1000 Cost: 2320630.500000
Epoch  600/1000 Cost: 2308284.250000
Epoch  700/1000 Cost: 2296271.000000
Epoch  800/1000 Cost: 2284581.500000
Epoch  900/1000 Cost: 2273205.750000
Epoch 1000/1000 Cost: 2262133.000000

In [18]:
predict=x_test.matmul(W)+b

In [19]:
predict

tensor([[2873.7451],
        [1935.0669],
        [1959.7363],
        [3519.6384],
        [3313.1277],
        [3390.0723],
        [2973.4968],
        [4289.8594],
        [3641.3301],
        [4409.9565],
        [2171.5315],
        [3792.2505],
        [2948.7583],
        [3156.1812],
        [2490.8977],
        [3514.0806],
        [3445.7090],
        [4335.0894],
        [3164.7695],
        [3476.9189],
        [2525.6621],
        [2856.0879],
        [3190.2578],
        [1766.7834]], grad_fn=<AddBackward0>)